# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo

# ================================
# Virtual environments
# ================================
.venv/
.venv-1/
venv/
env/

# ================================
# MLflow
# ================================
mlruns/
mlflow.db

# ================================
# Models
# ================================
*.pkl
*.joblib

# ================================
# Generated pipeline outputs
# ================================
artifacts/
logs/
reports/
outputs/

# ================================
# Processed/generated data
# ================================
data/processed/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Python tools
# ================================
.pytest_cache/
.mypy_cache/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# IDE
# ================================
.vscode/
.idea/